name: Docker Image CI

on:
  push:
    branches: [ "test" ]

jobs:

  build:
    strategy:
      matrix:
        hh: [no,yes]
    runs-on: ubuntu-latest

    steps:
#     - uses: actions/checkout@v3
    - name: Build the Docker image
      run: echo TAG_SUFFIX=latest`$(if [[ "${{ matrix.hh }}" = "yes" ]]; then echo "-doc"; fi)`
